.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.nav-menu {
  padding: 10px 0px;
}

.nav-menu-a {
  font-weight: 500;
}
